*{
    margin: 0;
    padding: 0;
    min-width: 0; 
    min-height: 0;
    box-sizing: border-box;
    
}

@font-face {
    font-family: skyrim;
    src: url(assets/Balgruf-JRye7.ttf);
}

body,html{
    height: 100%;
    background-color: #b2beb5;
   
}


.grid-container{
    height: 100vh;
    width: 100%;
    display: grid;
   
    grid-template-rows: 1fr 5.2fr 1.3fr;
}

.header{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 10px;
    grid-area: 1 / 1 / 2 / 2;
    box-shadow: 2px 2px 2px 2px;
}

.headerText{
    font-family: skyrim;
    font-size: 32px;
    color: white;
    
    
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: 3 / 1 / 4 / 2;
    background-color: #b2beb5;
}

.showOutput{
    display: flex;
    overflow-y: scroll;
    justify-content: left;
    padding: 15px;
    flex-wrap: wrap;
    width: 90%;
    max-width: 90%;
    height: 93%;
    max-height: 93%;
    margin-top: 1.5%;
    gap: 10px;
    background-color: rgba(0,0,0,0.2);
   
    
    
    
    border: 3px solid black;
    
}

.content{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: 2 / 1 / 3 / 2;
    
}

.showOutput>*{
    flex: 1 1 160px;

}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .showModal{
    background-color: black;
    height: 50px;
    width: 150px;
    border-radius: 50%;
    font-family: skyrim;
    font-size: 16px;
    color: white;
  }

  .titleAndAuthor,.pagesAndRead{
      display: flex;
      flex-direction: column;
      padding: 10px;
      gap: 10px;
  }

  .modalButtons{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      
      
  }

  .inputButton,.closeButton{
    border-radius: 50%;
    color: white;
    background-color: black;
    padding: 5px;
    font-family: skyrim;
    
  }


.design{
    color: white;
    
    filter: invert(100%);
    -webkit-filter: invert(100%);
      
}
  